*~
Build
Build.bat
ExtUtils-XSpp-*.*.tar.gz
META.json
META.yml
MYMETA.json
MYMETA.yml
_build
blib
cover_db
lib/ExtUtils/XSpp/Grammar.pm
t/files/foo.h
*.swp
*.swo
padre.yml
MANIFEST.bak
XSP.output
pod2htm?.tmp
TAGS
